requirements==2.26.0

    numpy==1.22.0
 
    pytest==6.2.5

    coverage==5.5[D[D[D[D[D[D[D[D[D[D[D[D[[A[A[C[A[A[A[A[r[B[B[B[B[C[B[B[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C
